.card-modelo {
  img {
    border-radius: 5px;
  }
  span {
    color: $black-4;
  }
  &.is-active {
    span {
      color: $blue-2;
    }
  }
  &:hover {
    transform: scale(1.05);
    transition: all 0.1s;
  }
}