#piscinas {
  h4::before {
    content: "";
    display: block;
    background: $blue;
    width: 27px;
    height: 11px;
    border-radius: 2px;
    position: absolute;
    top: 9px;
    left: 0;
  }
}

#mais-piscinas {
  h4 {
    &::before {
      content: '';
      display: block;
      background: $black-4;
      width: 13px;
      height: 13px;
      border-radius: 2px;
      position: absolute;
      top: 7px;
      left: 0;
    }
  }
}

.emphasis {
  color: $blue-2;
  font-weight: bold;
  background: url(/dist/img/svg/waves.svg) no-repeat bottom;
  padding: 2px 8px;
}

.emphasis-2 {
  background: linear-gradient(transparent 60%, $yellow-2 50%);
}