//botões
.swiper-prev,
.swiper-prev-2,
.swiper-next,
.swiper-next-2 {
  border: 1px solid $blue;
  width: 39px;
  height: 39px;
  border-radius: 5px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &.swiper-button-disabled {
    filter: grayscale(1);
    opacity: 0.6;
  }
}
.swiper-prev,
.swiper-prev-2 {
  transform: rotate(180deg);
}

#piscinas {
  .carrossel-linhas {
    width: 100%;
    .swiper-slide {
      width: auto;
      height: 200px;
      text-decoration: none;
      img {
        border-radius: 5px;
        width: 100%;
      }
      span {
        color: $black-4;
      }
      &.is-active {
        span {
          color: $blue-2;
        }
      }
    }
    @media (min-width: 992px) {
      .swiper-slide {
        width: 216px;
        height: 195px;
      }
    }
    @media (min-width: 1200px) {
      .swiper-slide {
        width: 261px;
        height: 225px;
      }
    }
    @media (min-width: 1400px) {
      .swiper-slide {
        width: 306px;
        height: 250px;
      }
    }
  }
  #detalhes {
    .carrossel-tamanhos {
      width: 100%;
      background: linear-gradient(180deg, #f7f3f4 0%, #ffffff 100%);
      .swiper-slide {
        width: auto;
        height: 200px;
        position: relative;
      }
    }
  }
}

#mais-piscinas .carrossel-outras-linhas {
  .swiper-slide {
    width: auto;
    min-width: 204px;
    padding: 10px 16px;
    border-radius: 5px;
    border: 1px solid $blue;
    text-decoration: none;
  }
}
