// color variables definition
$black:     #222;
$black-2:   #1F2937;
$black-3:   #374151;
$black-4:   #6D6E71;
$black-5:   #6B7280;
$black-6:   #9CA3AF;
$blue:      #3655B3;
$blue-2:    #233673;
$blue-3:    #1F3066;
$yellow:    #F59E0B;
$yellow-2:  #F2C94C;
$orange:    #EF5F53;
$white:     #FFF;

$theme-colors: (
  "black": $black,
  "black-2": $black-2,
  "black-3": $black-3,
  "black-4": $black-4,
  "black-5": $black-5,
  "black-6": $black-6,
  "blue": $blue,
  "blue-2": $blue-2,
  "blue-3": $blue-3,
  "yellow": $yellow,
  "yellow-2": $yellow-2,
  "orange": $orange,
) !default;

// spacers variable definition
$spacer: 1rem;
$custom-spacers: (
  "awe-6": $spacer * 0.375,
  "awe-12": $spacer * 0.75,
  "awe-16": $spacer,
  "awe-22": $spacer * 1.375,
  "awe-32": $spacer * 2,
  "awe-40": $spacer * 2.5,
  "awe-56": $spacer * 3.5,
  "awe-64": $spacer * 4,
  "awe-80": $spacer * 5,
  "awe-96": $spacer * 6,
  "awe-108": $spacer * 8,
  "awe-150": $spacer * 9.375,
  "awe-324": $spacer * 24,
) !default;

// font features variables definition
$font-sizes: (
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  21: 21px,
  24: 24px,
  26: 26px,
  32: 36px,
  44: 44px,
);

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

//navbar
$navbar-toggler-focus-width:        0;

//buttons
$btn-box-shadow:  0;
$btn-focus-width: 0;
$btn-focus-box-shadow:        0;
$btn-padding-y:               0.8em;
$btn-padding-x:               2em;
$btn-border-radius:           5px;
$btn-border-width:            0;